* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    // thêm này vào để hành động cuộn khi bấm nav được mượt mà
    scroll-behavior: smooth;
}

// common
a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.col-third {
    width: 33.3333%
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.btn {
    display: inline-block;
    padding: 10px 16px;
    margin-bottom: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    &:hover {
        color: #000;
        background-color: #ccc;
    }
    appearance: none;
    -webkit-appearance: none;
}

/*
1. Vị trí (bên html)
2. Kích thước
3. Màu sắc
4. Kiểu dáng
*/

// main
#main {

}

#header {
    width: 100%;
    height: 50px;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 1;
    #nav {
        li {
            /* inline là trên 1 hàng, block là dạng khổi để giữ lại các tính chất khổi */
            display: inline-block;
            position: relative;
            top: 0;
            &:hover {
                background-color: #ccc;
                .subnav {
                    display: block;
                }
                >a {
                    color: #000;
                }
        }
        }
        >li {
            >a {
                text-transform: uppercase;
                color: #fff;
                line-height: 50px;
                padding: 0 24px;
                display: block;
            }
        }
        .subnav {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            min-width: 160px;
            /* tỏa đều sang trái phải */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            li {
                width: 100%;
                height: 40px;
                line-height: 40px;
                display: inline-block;
                padding-left: 16px;
                &:hover {
                    cursor: pointer;
                }
            }
            a {
                color: #000;
            }
        }
    }
    >i {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 50px;
        padding: 0 24px;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: red;
        }
    }
    .mobile-menu {
        color: #fff;
        &:hover {
            background-color: #ccc;
            color: #000;
        }
    }
}

#slider {
    margin-top: 50px;
    padding-top: 50%; // 50% của chính nó
    background: url('../img/slider1.jpg') no-repeat top center / cover;
    position: relative;
    .slider-desc {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        padding: 32px 16px;
        text-align: center;
        color: #fff;
        .slider-desc-title {
            margin: 10px 0;
            font-weight: 500;
            font-size: 24px;
        }
        .slider-desc-desc {
            margin: 15px 0;
            font-weight: bold;
            text-shadow: 0 0 1px #000;
        }
    }
}

#content {
    .content-section {
        max-width: 800px;
        margin: 0 auto;
        padding: 64px 16px;
        text-align: center;
        .section-heading {
            text-transform: uppercase;
            margin: 10px 0px;
            font-weight: 500;
            font-size: 30px;
            letter-spacing: 4px;
        }
        .section-subheading {
            font-style: italic;
            margin: 30px 0;
            opacity: 0.6;
        }
        .about {
            margin: 15px 0;
            text-align: justify;
            font-size: 15px;
            // tiếng việt thường là 1.6, tiếng anh 1.4
            line-height: 140%;
        }
        .team {
            padding: 32px 0;
            .member-name {
                margin: 15px 0;
                font-weight: 300;
                font-size: 15px;
            }
            .member-avatar {
                width: 60%;
                height: auto;
                border-radius: 4px;
            }
        }
        // tour section
        .ticket-list {
            list-style-type: none;
            text-align: left;
            background-color: #fff;
            border: 1px 1px 0px 1px solid #ccc;
            margin: 15px 0;
            .ticket {
                color: rgba(0, 0, 0, 0.5);
                padding: 10px 16px;
                font-size: 15px;
                border-bottom: 1px solid #ccc;
                .sold-out {
                    margin-left: 16px;
                    padding: 3px 8px;
                    background-color: red;
                    color: #fff;
                }
                .quantity {
                    background-color: #000;
                    color: #fff;
                    border-radius: 50%;
                    padding: 3px 8px;
                    float: right;
                    margin-right: 16px;
                }
            }
        }
        .tour-list {
            margin-top: 16px;
            margin-bottom: 50px;
            .tour-img {
                width: 100%;
                // làm mất đi cái chân đường gạch đen của hình
                // có thể sử dụng display: block
                vertical-align: middle;
                &:hover {
                    opacity: 0.6;
                }
            }
            .tour-info {
                text-align: left;
                background-color: #fff;
                color: #000;
                // thêm padding trên dưới để nó có padding để cái name có thể margin top
                padding: 1px 16px;
                font-size: 15px;
                .tour-name {
                    font-weight: bold;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
                .tour-date {
                    opacity: 0.6;
                    margin-bottom: 15px;
                }
                .tour-desc {
                    margin-bottom: 15px;
                    line-height: 1.4;
                }
            }
        }
        // contact section
        .contact-content {
            margin-top: 48px;
            margin-bottom: 48px;
            .contact-info {
                font-size: 18px;
                text-align: left;
                line-height: 1.5;
                i {
                    display: inline-block;
                    width: 30px;
                }
                a {
                    color: #101aef;
                    opacity: 0.6;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            .contact-form {
                font-size: 15px;
                .form-control {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                }
            }
            .form-submit {
                float: right;
            }
        }
    }
    .tour-section {
        width: 100%;
        background-color: #000;
        color: #fff;
    }
    .map-section {
        width: 100%;
        // chỉnh màu cho đẹp thôi
        filter: grayscale(0.5);
        img {
            // do thẻ inline có sẵn
            // có thể sử dụng display: block
            // vertical-align: middle;
            display: block;
            // ảnh sẽ thu theo kích thước giao diện
            width: 100%;
        }
    }
}

#footer {
    padding: 64px 16px;
    text-align: center;
    background-color: #f1f1f1;
    color: black;
    opacity: 0.6;
    a {
        color: #000;
        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
        font-size: 24px;
    }
    .author {
        font-size: 15px;
        margin: 15px 0;
    }
    .source {
        font-size: 15px;
    }
}

.modal {
    // tạo lớp phủ toàn bộ giao diện
    // kích thước toàn bộ giao diện
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    .modal-container {
        background-color: #fff;
        // học về reponsive 
        width: 900px;
        max-width: calc(100% - 32px);
        min-height: 200px;
        position: relative;
        // thêm animation cho thằng modal container
        animation: modalComeon ease 0.5s;
        .modal-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 14px 16px;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
            &:hover {
                background-color: #ccc;
                color: #000;
            }
        }
        .modal-header {
            padding: 32px 16px;
            text-align: center;
            background-color: #009688;
            color: white;
            letter-spacing: 4px;
            font-size: 30px;
            i {
                margin: 10px 0;
                margin-left: 16px;
            }
        }
        .modal-body {
            padding: 1px 16px;
            .modal-label {
                display: block;
                margin: 15px 0px;
                font-size: 15px;
            }
            .modal-input {
                width: 100%;
                border: 1px solid #ccc;
                padding: 10px;
            }
            .modal-pay {
                width: 100%;
                margin: 16px 0;
                padding: 18px;
                border: none;
                background-color: #009688;
                color: white;
                font-size: 15px;
                &:hover {
                    background-color: #ccc;
                    color: #000;
                }
            }
        }
        .modal-footer {
            .help {
                margin-top: 15px;
                margin-bottom: 30px;
                float: right;
                padding-right: 16px;
                font-weight: 300;
                a {
                    color: #2196F3;
                    text-decoration: underline;
                }
            }
        }
    }
}

.modal.open {
    display: flex;
}

@keyframes modalComeon {
    from {
        opacity: 0.5;
        transform: translateY(-130px);
    }
    to {
        opacity: 1;
        transform: 0;
    }
}

// pc
@media only screen and (min-width: 64em) {
    #header .mobile-menu {
        display: none;
    }
}

// table và mobile
@media only screen and (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }
    #header #nav .subnav a {
        padding: 10px 0px;
    }
    #content .content-section .contact-content .contact-form .form-control {
        padding: 15px;
    }
    #footer .social-network {
        font-size: 48px;
    }
    #footer .social-network a {
        margin: 0 8px;
    }
    #content .content-section .contact-content .contact-info {
        line-height: 2.0;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    // header
    #header {
        overflow: hidden;
    }
    #header #nav {
        display: block;
    }
    #header #nav > li{
        display: block;
    }
    #header #nav > li:first-child {
        display: inline-block;
    }
    #header #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #header #nav .subnav li {
        padding: 5px 40px;
    }
    #header #nav .subnav a {
        color: #fff;
    }
    #header .search {
        display: none;
    }
    #header .mobile-menu {
        display: block;
    }
    // slider
    #slider .slider-desc {
        display: none;
    }
    // content
    #content .content-section .team {
        padding-top: 16px;
    }
    #content .s-col-full,
    #content .s-full-width {
        width: 100% !important;
    }
    #content .content-section .contact-content .contact-form {
        margin-top: 32px;
    }
    #content .s-mt-8 {
        margin-top: 8px;
    }
    .contact-form .form-control {
        font-size: 16px;
    }
}
  /* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    #header .mobile-menu {
        display: none;
    }
}